<a href="https://colab.research.google.com/github/melphin03012002/ETG-Inventory_Management_System_Assignment-/blob/main/Adding_new_prdt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
record = { 101 : {"p_name": "Apple" ,"price":5 , "p_quan":30 , "date" :"5/21" ,"p_exp" :"6/21" },
           102:  {"p_name": "Banana" ,"price":4 , "p_quan":20 , "date" :"6/21" ,"p_exp" :"6/21" },
           103:  {"p_name": "Chips" ,"price":10 , "p_quan":25 , "date" :"6/21" ,"p_exp" :"7/21" },
           104:  {"p_name": "biscuit" ,"price":20 , "p_quan":10, "date" :"7/21" ,"p_exp" :"8/21" }}

In [ ]:
import json

In [ ]:
js = json.dumps(record)

In [ ]:
fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
fd = open("record.json",'r')
r = fd.read()
fd.close()
record = json.loads(r)

In [ ]:
record

{'101': {'date': '5/21',
  'p_exp': '6/21',
  'p_name': 'Apple',
  'p_quan': 30,
  'price': 5},
 '102': {'date': '6/21',
  'p_exp': '6/21',
  'p_name': 'Banana',
  'p_quan': 20,
  'price': 4},
 '103': {'date': '6/21',
  'p_exp': '7/21',
  'p_name': 'Chips',
  'p_quan': 25,
  'price': 10},
 '104': {'date': '7/21',
  'p_exp': '8/21',
  'p_name': 'biscuit',
  'p_quan': 10,
  'price': 20}}

In [ ]:
n=int(input("Enter number of products to be added:"))
for i in range(n):
      prod_id = str(input("Enter product id:"))
      p_name = str(input("Enter product name:"))
      p_quan= int(input("Enter quantity:"))
      price= int(input("Enter price:"))
      date = str(input("Enter manufactured/packed date:"))
      p_exp= str(input("Enter expiry date:"))
      record[prod_id] = { "p_name": p_name , "p_quan": p_quan , "price" : price ,"date": date ,"p_exp": e_date}

Enter number of products to be added:2
Enter product id:131
Enter product name:cream
Enter quantity:5
Enter price:45
Enter manufactured/packed date:7/8
Enter expiry date:9/11
Enter product id:132
Enter product name:coffee
Enter quantity:15
Enter price:15
Enter manufactured/packed date:7/8
Enter expiry date:25/11

In [ ]:

record

{'101': {'date': '5/21',
  'p_exp': '6/21',
  'p_name': 'Apple',
  'p_quan': 30,
  'price': 5},
 '102': {'date': '6/21',
  'p_exp': '6/21',
  'p_name': 'Banana',
  'p_quan': 20,
  'price': 4},
 '103': {'date': '6/21',
  'p_exp': '7/21',
  'p_name': 'Chips',
  'p_quan': 25,
  'price': 10},
 '104': {'date': '4/9',
  'p_exp': '6/9',
  'p_name': 'milk',
  'p_quan': 2,
  'price': 25},
 '105': {'date': '4/9',
  'p_exp': '8/9',
  'p_name': 'paneer',
  'p_quan': 3,
  'price': 50},
 '106': {'date': '5/9',
  'p_exp': '21/9',
  'p_name': 'ghee',
  'p_quan': 2,
  'price': 100},
 '107': {'date': '2/8',
  'p_exp': '9/9',
  'p_name': 'cheese',
  'p_quan': 4,
  'price': 120},
 '108': {'date': '12/6',
  'p_exp': '10/11',
  'p_name': 'ketchup',
  'p_quan': 4,
  'price': 75},
 '109': {'date': '12/7',
  'p_exp': '8/9',
  'p_name': 'butter',
  'p_quan': 5,
  'price': 80},
 '110': {'date': '1/9',
  'p_exp': '9/9',
  'p_name': 'meat',
  'p_quan': 2,
  'price': 220},
 '111': {'date': '5/9',
  'p_exp': '11/9',
  'p_name': 'chicken',
  'p_quan': 3,
  'price': 240},
 '112': {'date': '6/9',
  'p_exp': '13/9',
  'p_name': 'fish',
  'p_quan': 4,
  'price': 400},
 '113': {'date': '2/8',
  'p_exp': '9/8',
  'p_name': 'prawn',
  'p_quan': 2,
  'price': 300},
 '114': {'date': '5/9',
  'p_exp': '7/9',
  'p_name': 'greens',
  'p_quan': 5,
  'price': 12},
 '115': {'date': '3/9',
  'p_exp': '14/9',
  'p_name': 'bread',
  'p_quan': 4,
  'price': 24},
 '116': {'date': '6/9',
  'p_exp': '18/9',
  'p_name': 'bun',
  'p_quan': 6,
  'price': 25},
 '117': {'date': '9/8',
  'p_exp': '10/10',
  'p_name': 'jam',
  'p_quan': 2,
  'price': 75},
 '118': {'date': '23/8',
  'p_exp': '9/9',
  'p_name': 'dates',
  'p_quan': 4,
  'price': 220},
 '119': {'date': '24/8',
  'p_exp': '10/10',
  'p_name': 'jelly',
  'p_quan': 5,
  'price': 5},
 '120': {'date': '18/7',
  'p_exp': '20/9',
  'p_name': 'oats',
  'p_quan': 7,
  'price': 45},
 '121': {'date': '6/9',
  'p_exp': '10/9',
  'p_name': 'waffles',
  'p_quan': 3,
  'price': 120},
 '122': {'date': '13/7',
  'p_exp': '9/10',
  'p_name': 'wafer',
  'p_quan': 6,
  'price': 20},
 '123': {'date': '4/8',
  'p_exp': '4/11',
  'p_name': 'wheat flour',
  'p_quan': 3,
  'price': 30},
 '124': {'date': '9/6',
  'p_exp': '2/10',
  'p_name': 'corn flour',
  'p_quan': 5,
  'price': 35},
 '125': {'date': '5/8',
  'p_exp': '10/9',
  'p_name': 'dairy milk',
  'p_quan': 7,
  'price': 50},
 '126': {'date': '3/9',
  'p_exp': '15/10',
  'p_name': 'milkmaid',
  'p_quan': 8,
  'price': 75},
 '127': {'date': '8/7',
  'p_exp': '10/11',
  'p_name': 'choco powder',
  'p_quan': 10,
  'price': 125},
 '128': {'date': '4/6',
  'p_exp': '9/11',
  'p_name': 'noodles',
  'p_quan': 12,
  'price': 25},
 '129': {'date': '2/9',
  'p_exp': '12/9',
  'p_name': 'ice cream',
  'p_quan': 25,
  'price': 50},
 '130': {'date': '7/7',
  'p_exp': '10/9',
  'p_name': 'paneer soda',
  'p_quan': 10,
  'price': 25},
 '131': {'date': '7/8',
  'p_exp': '9/11',
  'p_name': 'cream',
  'p_quan': 5,
  'price': 45},
 '132': {'date': '7/8',
  'p_exp': '25/11',
  'p_name': 'coffee',
  'p_quan': 15,
  'price': 15}}

In [ ]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()